.legend {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 55px auto 0;
}

.legend__article {
  width: 600px;
}

.legend__banner {
  width: 100%;
  max-width: 600px;

  .legend__carousel {
    width: 100% !important;
  }
}

.legend__title {
  font-family: "Unbounded", cursive;
  font-size: 5rem;
  font-weight: 600;
  color: var(--color);
}

.legend__cta {
  padding: 15px;
  border-radius: 25px;
  background-color: var(--color);
  color: var(--bg);
  font-weight: 600;
  width: 150px;
  text-align: center;
  margin-top: 27px;
  font-size: 1.2rem;
  border: none;
  cursor: pointer;
}

/* CARTELERA */

.cartelera {
  margin-top: 250px;
}

.cartelera__title {
  text-align: center;
  font-family: "Unbounded", cursive;
  color: var(--color);
  font-size: 4.5rem;
  font-weight: 600;
}

.cartelera__description {
  text-align: center;
  color: var(--color);
  font-size: 1.2rem;
  margin-bottom: 30px;
}

.cartelera__card {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 25px;

  .cartelera__item {
    display: flex;
    width: 350px;
    height: 550px;
    border-radius: 50px;
    border: 1px solid var(--color);
    transition: 0.3s ease-out;
    background-position: center;
  }
}
//* HOVER
.cartelera__card:hover .cartelera__item {
  filter: blur(3px);
}

.cartelera__card:hover .cartelera__item:hover {
  transform: scale(1);
  filter: blur(0px);
  opacity: 1;
  box-shadow: 0 8px 20px 0px rgba(0, 0, 0, 0.125);
}

//* MEDIAS
@media screen and (max-width: 1355px) {
  .legend__article {
    width: 100%;
    text-align: center;
  }

  .legend__banner {
    margin: 30px auto;
  }
}

@media screen and (max-width: 700px) {
  .legend__title {
    font-size: 4.5rem;
  }

  .cartelera__item {
    margin: auto;

  }
}

@media screen and (max-width: 500px) {
  .legend__title {
    font-size: 3.2rem;
  }

  .cartelera{
    margin-top: 75px;
  }

  .cartelera__title {
    font-size: 3rem;
  }
}
