<header class="header">
  <figure
    class="header__logo"
    (click)="redirectHome()"
    [ngStyle]="{ cursor: 'pointer' }"
    title="Inicio"
  >
    <img src="../../../assets/images/logo.png" alt="Logo" class="header__img" />
  </figure>
  <div class="header__option">
    <div class="header__item" *ngFor="let item of listados; let i = index">
      <h3 class="header__title">{{ item.menu }}</h3>
      <select>
        <option *ngFor="let child of item.children" [value]="child.nombre">
          {{ child.nombre }}
        </option>
      </select>
    </div>
  </div>
</header>
