.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 30px 50px;
  backdrop-filter: blur(3px);
  border-bottom: 3px solid rgba(199, 199, 199, 0.5);
}

.header__logo {
  display: inline-block;
  width: 75px;
  height: 75px;
  padding: 8px;
  border-radius: 50%;
  background-color: white;

  .header__img {
    width: 100%;
    border-radius: 50%;
  }
}

.header__option {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 35px;
}

.header__title {
  font-size: 1.1rem;
  color: var(--color);
  font-weight: 700;
  margin-bottom: 5px;
}

select {
  padding: 15px;
  border-radius: 15px;
  border: none;
  background-color: var(--color);
  outline: none;
}

@media screen and (max-width: 870px) {
  .header {
    flex-direction: column;
  }

  .header__logo {
    margin: 0 auto 10px;
  }

  .header__option {
    flex-grow: 1;
  }
}

@media screen and (max-width: 750px){

  .header__option{
    flex-direction: column;
  }
}
