.container {
  display: flex;
  justify-content: space-around;
  margin-top: 24px;
}

.content {
  width: 100%;
}

.status {
  width: 100%;
}

@media screen and (max-width: 1250px) {
  .container {
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
}
