.container {
  background-image: linear-gradient(#414345a2, #232526a6),
    url("../assets/images/bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.section {
  width: 90%;
  margin: 0 auto;
}


@media screen and (max-width: 1024px) {
  .container{
    height: 1300px;
  }
}

@media screen and (max-width: 500px) {
  .container{
    height: 1500px;
  }
}
