<section class="info">
  <figure class="info__picture">
    <img [src]="movie.image" [alt]="movie.title" class="info__img" />
  </figure>
  <article class="info__card">
    <h4 class="info__title" [title]="movie.title">{{ movie.title }}</h4>
    <p class="info__description" title="{{ movie.title }} - {{ movie.year }}">
      {{ movie.title }} - ({{ movie.year }})
    </p>
    <div class="info__chips">
      <span
        *ngFor="let genero of movie.genre"
        class="info__chipitem"
        [title]="genero"
      >
        {{ genero }}
      </span>
    </div>
  </article>
</section>

<section class="trailer">
  <h4 class="trailer__title">Trailer</h4>
  <iframe
    class="iframe"
    [src]="video"
    [title]="movie.title"
    frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen
  ></iframe>
  <article class="trailer__sipnosis">
    <h4 class="trailer__title">Sinopsis</h4>
    <p class="trailer__description">
      {{ movie.description }}
    </p>
  </article>
</section>

<section class="creditos">
  <h4 class="creditos__title">Escritores y directores</h4>
  <strong class="creditos__label">Escritores</strong>
  <br />
  <span *ngFor="let writer of movie.writers" class="creditos__description">
    {{ writer }},
  </span>
  <br />
  <strong class="creditos__label">Directores</strong>
  <br />
  <span *ngFor="let director of movie.director" class="creditos__description">
    {{ director }}
  </span>
</section>
