<section class="info">
  <figure class="info__picture">
    <img [src]="movie.image" [alt]="movie.title" class="info__img" />
  </figure>
  <article class="info__card">
    <h4 class="info__title">Spider</h4>
    <p class="info__description">Spider-Man - No way Home - (EEUU 2021)</p>
    <div class="info__chips">
      <span class="info__chipitem"> +12 </span>
      <span class="info__chipitem"> 148min </span>
      <span class="info__chipitem"> Acción y Aventuras </span>
    </div>
  </article>
</section>

<section class="trailer">
  <div class="iframe"></div>
  <article class="trailer__sipnosis">
    <h4 class="trailer__title">Sinopsis</h4>
    <p class="trailer__description">
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Labore ipsum,
      mollitia aliquid ex deserunt hic et optio soluta illum officia excepturi
      possimus culpa voluptates ducimus reiciendis dolorem doloremque
      dignissimos animi?Lorem ipsum dolor sit amet, consectetur adipisicing
      elit. Ad, id tempora nesciunt fugit sit, ducimus at adipisci fugiat aut
      commodi, sequi ab veritatis necessitatibus. Doloribus aliquam corrupti
      debitis autem quo.
    </p>
  </article>
</section>

<section class="creditos">
  <h4 class="creditos__title">Créditos y reparto</h4>
  <strong class="creditos__label">Actores</strong>
  <span class="creditos__description"
    >Tom Hanks, Julia Roberts, Andres Toro, Gerard Butler</span
  >
  <strong class="creditos__label">Directores</strong>
  <span class="creditos__description">Bruce Willis</span>
</section>
