<section class="card">
  <h1 class="card__title">Resumen de la compra</h1>
  <article class="card__article">
    <figure class="card__poster">
      <img [src]="movie.image" [alt]="movie.title" class="card__img" />
    </figure>
    <div class="card__description">
      <div class="card__item">
        <strong class="card__subtitle">Película: </strong>
        <span class="card__value" [title]="movie.title">{{ movie.title }}</span>
      </div>
      <div class="card__item">
        <strong class="card__subtitle">Complejo: </strong>
        <span class="card__value" [title]="model.sucursal">{{
          model.sucursal
        }}</span>
      </div>
      <div class="card__item">
        <strong class="card__subtitle">Fecha: </strong>
        <span class="card__value" [title]="model.fecha">{{ model.fecha }}</span>
      </div>
      <div class="card__item">
        <strong class="card__subtitle">Horario: </strong>
        <span class="card__value" [title]="model.horario">{{
          model.horario
        }}</span>
      </div>
      <div *ngIf="seleccion" class="card__item">
        <strong class="card__subtitle">Boletos: </strong>
        <span class="card__value" [title]="entradasTotalStr() | lowercase">{{
          entradasTotalStr() | lowercase
        }}</span>
      </div>
      <div *ngIf="seleccion" class="card__item">
        <strong class="card__subtitle">Sala: </strong>
        <span class="card__value" [title]="sala">{{ sala }}</span>
      </div>
      <div *ngIf="seleccion" class="card__item">
        <strong class="card__subtitle">Asientos: </strong>
        <span class="card__value" title="A15, B5, C19">A15, B5, C19</span>
      </div>
    </div>
  </article>
  <p class="card__legend">
    Se realizará un cargo por servicio por cada boleto dentro de la orden
  </p>
  <div class="card__price">
    <h4 class="card__iva">Total (IVA Incluido):</h4>
    <p class="card__money">{{ model.totalNeto | currency }}</p>
  </div>
  <button
    class="card__cta"
    [disabled]="!seleccion ? model.totalNeto === 0 : true"
    (click)="navegarSeleccion()"
  >
    Continuar
  </button>
</section>
